body{
  background: #efefef;
}

.navbar-fixed .active{
  background: #0875BD;
}

.main-nav {
  background: #001C2A;
  box-shadow: 0 5px 5px rgba(0,0,0, .4);
  z-index: 150;
  margin-bottom: -64px;
}

.nav-wrapper {
  padding-left: 20px;
}

.brand-logo {
  font-weight: bold;
}

.jumbotron {
  background-image: url(mainPagePics/background.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;    
  overflow: hidden;
  padding: 80px 50px 50px;
  
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size:72px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 24px;
  color: #fff;
}

#about {
  background: #efefef;
  border-bottom: 2px solid #dbdbdb;
}

#about img{
  width: 100%;
}

#about p{
  font-size: 18px; 
  font-weight: bold;
}

.profile-pic{
  position: relative;
  float: left;
}

.glasses{
  position: absolute;
  padding-left: 40%;
  padding-top: 24.5%;
  width: 55%;
  pointer-events: none;
  opacity: 1;
}

.thuglife{
  -webkit-transition:all 5000ms;
  -moz-transition:all 5000ms;
  transition:all 5000ms;
}

#projects {
  overflow: hidden;
  border-bottom: 2px solid #dbdbdb;
  font-weight: bold;
  background: #ffffff;
}

#projects img{
  width: 20%;
}

.text-left{
  width: 70%;
  float: left;
}

.text-right{
  width: 70%;
  float: right;
}

.proj-pic-right img{
  float: right;
  padding: 20px;
}

.proj-pic-left img{
  float: left;
  padding: 20px;
}

#bird{
   height: 300px; 
}

#resume {
  padding-bottom: 100px;
}

.bottom{
  height: 100px; 
}

footer {
  overflow: hidden
}

.footer-text {
  padding-left: 20px;
}

.contact-me {
  padding-right: 20px;
}